/* =================================
------------------------------------
  Civic - CV Resume
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

.ProPic {
    overflow: hidden;
    animation-name: propic;
    animation-duration: 1s;
    animation-delay: 0s;
      margin: auto;
      padding: 20px;
      overflow: auto;
  }

@keyframes propic {
    0%   {opacity: 0;}
    100%  {opacity: 1.0;}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0;
	font-family: Arial;
}

h1 {
	font-size: 30px;
	font-weight: 600;
}

h2 {
	font-size: 22px;
	font-weight: 600;
}

h3 {
	font-size: 18px;
	font-weight: 550;
    line-height: 30px;
}

h4 {
	font-size: 16px;
	font-weight: 550;
    line-height: 30px;
}

h5 {
	font-size: 15px;
	font-weight: 550;
}

h6 {
	font-size: 14px;
	font-weight: 500;
    line-height: 20px;
}
}

p {
	color: #40424a;
	margin: 0;
	font-family: Arial;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.nav-center {
margin:0px auto !important;
}

/*-------
ul{
  font-family: Arial;
  display:block;
  list-style-type: none;
  text-align:left;
}
ul li{
  display: inline-block;
  color: #949DA0;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 10px;;
  position:relative;
  // keep users from highlighting text if they click it on/off too fast
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
ul li:hover{
  background: #f9a1c6;
  color: #000;
}
ul li .dropdown{
  display:none;
  width: 200px;
  padding:8px 10px; margin:0;
  background: green;
  position: absolute;
  top: 45px;
  left:0;
}
ul li .dropdown li{
  width:100%;
  display:block;
  padding:10px 0px; margin:0px;
}
#dd1:checked ~ .dropdown{
  display:block;
}
#dd2:checked ~ .dropdown{
  display:block;
}
*/

.navbar {
  height: 45px;
  margin: 0 auto;
  font-family: Arial;
  /*text-transform: uppercase;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

/* Links inside the navbar */
.navbar a {
  width:170px;
  float: left;
  font-size: 14px;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

/* Dropdown button */
.dropdown .dropbtn {
  width:170px;
  padding: 12px 10px;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
  color: #A3AAAC;
  background-color: #343A40;
}

/* Add a white-gray background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #D9DBDD;
  background-color: #445;
}

/* Dropdown content (hidden by default) */
.dropdown-menu {
    overflow: hidden;
    animation-name: example;
    animation-duration: 0.7s;
    animation-delay: 0s;
  display: none;
  position: relative;
  background-color: #343A40;
  min-width: 160px;
  right:0px;
  top: 45px;
  box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
  float: none;
  color: #949DA0;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menu a:hover {
  padding: 10px 10px;
  background-color: #445;
  color: #D9DBDD;
}

/* Show the dropdown menu on hover */


@keyframes example {
    0%   {left:0px; top:100px; opacity: 0;}
    100%  {left:0px; top:45px; opacity: 1.0;}
}


@media screen and (max-width: 800px) {
    .navbar {
      height: auto;
      margin: 0 auto;
      background-color: #121D23;
      font-family: Arial;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    }

    /* Links inside the navbar */
    .navbar a {
      width: 100%;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 12px 10px;
      text-decoration: none;
    }

    /* The dropdown container */
    .dropdown {
      text-align: center;
      font-family: Arial;
      font-size: 16px;
      float: left;
      overflow: hidden;
    }
/* The dropdown container */

    .dropdown-menu {
      padding: 0px 0px;
      position: relative;
      display: hidden;
      right:0px;
      top: 0px;
      background-color: gray;
      min-width: 160px;
    }
 /* Add a grey background color to dropdown links on hover */
    .dropdown-menu a:hover {
      padding: 12px 10px;
    }
    .dropdown .dropbtn {
      width: 100%;
      font-family: Arial;
      font-size: 16px;
      padding: 12px 10px;
      border: none;
      outline: none;
      color: #A3AAAC;
      background-color: inherit;
    }
    @keyframes example {
        0%   {height: 0px; opacity: 0;}
        100%  {height: 100%; opacity: 1.0;}
    }
    .KwLogo {
        width: 0%;
    }
}
