{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nano and Bio-IT Convergence Lab</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
  <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"/></script>

</head>

<body>

<div class="jumbotron">
    <div class="col-sm-12 text-right">
        <a href="\admin">Login&nbsp&nbsp&nbsp</a>
    </div>

    <div class="row  text-center" style="max-width: 1200px; margin: auto;">
    <div class="col-sm-3" style="min-width: 200px;">
        <img src="{% static "img/BicLogo.png" %}"/><br>
    </div>
    <div class="col-sm-9 text-right">
    </div>

    </div>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="box-shadow: 8px 8px 32px 8px rgba(0,0,0,0.2);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav nav-center">
      <li class="nav-item">
        <a class="nav-link" href="\index">Homepage</a>
      </li>
  <div class="dropdown">
    <button class="dropbtn" type="button" data-toggle="dropdown">Members &nbsp&nbsp<b class="caret dropdown-toggle"></b></button>
    <div class="dropdown-menu">
      <a href="\professor">Director</a>
      <a href="\phd">Ph.D. Students</a>
      <a href="\ms">M.S. Students</a>
      <a href="\bs">B.S. Students</a>
      <a href="#">Alumni</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn" type="button" data-toggle="dropdown">Research &nbsp&nbsp<b class="caret dropdown-toggle"></b></button>
    <div class="dropdown-menu">
      <a href="nano_assembly">Nano-assembly</a>
      <a href="nanofabrication">Nanofabrication</a>
      <a href="nano_bio">Nano-bio</a>
      <a href="nano_energy">Nano-energy</a>
    </div>
  </div>
      <li class="nav-item">
        <a class="nav-link" href="\publications">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="\contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
          <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; position: auto; text-align: justify;">
      <h1>PhD Students</h1>
      <hr>
    <div  style="padding-top: 30px; float: left;">
      <div class="ProPic" style="max-width: 250px;  float: left;">
        <img src="{% static "img/UddinJalal.jpg" %}">
      </div>
        <div style="margin-top: 30px; float: left; padding-left: 40px;">
            <h2>Md. Jalal Uddin.</h2>
            <h6><b>Education :</b></h6>
            <h6>&nbsp&nbsp&bull; M.S. (2013), Dept. of Nanomolecular Science, Jacobs University, Bremen, Germany.</h6>
            <h6>&nbsp&nbsp&bull; M.S. (Feb. 2002), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6>&nbsp&nbsp&bull; B.S. (Feb. 2001), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6><b>Career :</b></h6>
            <h6>&nbsp&nbsp&bull; Faculty Member, Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6><h6>(2004 – Present)</h6>
            <h6><b>Research area :</b></h6>
            <h6>&nbsp&nbspSmart-biochips, Microfluidic Devices, and IOT-based Lab-on-a-chip for bio-medical applications.</h6>
            <h6><b>Location:</b> Chambit-Bldg, Room 609.</h6>
            <h6><b>Tel :</b> +82-2-9264-5046</h6>
            <h6><b>Email :</b> mju.aece@gmail.com</h6>
        </div>
      </div>

      <div  style="padding-top: 30px; float: left;">
      <div class="ProPic" style="max-width: 250px;  float: left;">
        <img src="{% static "img/HossainNabil.jpg" %}">
      </div>
      <div style="margin-top: 30px; float: left; padding-left: 40px;">
            <h2>Nabil Hossain Bhuiyan.</h2>
            <h6><b>Education :</b></h6>
            <h6>&nbsp&nbsp&bull; M.S. (Jan. 2017), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6>&nbsp&nbsp&bull; B.S. (Jan. 2018), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6><b>Career :</b></h6>
            <h6>&nbsp&nbsp&bull; Excutive Engineer, Electrical Safety Division,</h6><h6>Build Safety Native Land, Dhaka, Bangladesh.</h6>
            <h6>(2018)</h6>
            <h6><b>Research area :</b></h6>
            <h6>&nbsp&nbspSmart-biochips, Microfluidic Devices, and IOT-based Lab-on-a-chip for bio-medical applications.</h6>
            <h6><b>Location:</b> Chambit-Bldg, Room 609.</h6>
            <h6><b>Tel :</b> +82-2-9264-5046</h6>
            <h6><b>Email :</b> nabil.h.bhuiyan@gmail.com</h6>
      </div>
      </div>

      <div  style="padding-top: 30px; float: left;">
      <div class="ProPic" style="max-width: 250px;  float: left;">
        <img src="{% static "img/RahmanMahbubur.jpg" %}">
      </div>
      <div style="margin-top: 30px; float: left; padding-left: 40px;">
            <h2>Md. Mahabubur Rahman.</h2>
            <h6><b>Education :</b></h6>
            <h6>&nbsp&nbsp&bull; M.S. (Jan. 2017), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6>&nbsp&nbsp&bull; B.S. (Jan. 2018), Dept. of Electrical and Electronic Engineering, Islamic University, Kushtia, Bangladesh.</h6>
            <h6><b>Career :</h6>
            <h6>&nbsp&nbsp</b> Lecturer (Physics), Queen's College, Dhaka, Bangladesh.</h6><h6>(2018)</h6>
            <h6><b>Research area :</h6>
            <h6>&nbsp&nbsp</b> Wearable Electrode based Devices, Microfabrication, and Smart-biochips for bio-medical applications.</h6>
            <h6><b>Location:</b> Chambit-Bldg, Room 609.</h6>
            <h6><b>Tel :</b> +82-2-9264-5046</h6>
            <h6><b>Email :</b> mahabubur.abdur@gmail.com</h6>
      </div>
      </div>

            <div  style="padding-top: 30px; float: left;">
      <div class="ProPic" style="max-width: 250px;  float: left;">
        <img src="{% static "img/JunGyeong.jpg" %}">
      </div>
        <div style="margin-top: 30px; float: left; padding-left: 40px;">
            <h2>Gyeong Jun Jin.</h2>
            <h6><b>Education :</b></h6>
            <h6>&nbsp&nbsp&bull; B.S., Dept. of Electronic Convergence Engineering, Kwangwoon University, Seoul, Republic of Korea.</h6>
            <h6><b>Career :</b></h6>
            <h6>&nbsp&nbsp&bull; N/A</h6>
            <h6><b>Research area :</b></h6>
            <h6>&nbsp&nbspbio-potential measuring, wearable devices and healthcare technology. etc.</h6>
            <h6><b>Location:</b> Chambit-Bldg, Room 609.</h6>
            <h6><b>Tel :</b> +82-2-940-8671</h6>
            <h6><b>Cell :</b> 010-2985-7738</h6>
            <h6><b>Email :</b> bete100@naver.com</h6>
        </div>
      </div>
    <br>
    </div>
    </div>
  </div>
  </div>
</div>
<br>
<br>

<div class="jumbotron" style="margin:0px; background-color: #343A40; box-shadow: -8px -8px 32px 8px rgba(0,0,0,0.2);">
    <div class="row" style="max-width: 1200px; margin: auto;">
    <div class="col-sm-2 text-center">
        <div class="KwLogo"><img src="{% static "img/Kwangwoon-University.png" %}"/></div>
    </div>
    <div class="col-sm-10">
                <h6 style="color: gray;">20 Kwangwoon-ro, Nowon-gu, Seoul 01897, Korea | +82-(0)2-940-5114</h6>
                <h6 style="color: gray;">Copyright © Bio-IT Convergence Lab, Kwangwoon University. All rights reserved.</h6>
    </div>

    </div>

</div>

</body>
</html>
